# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
hotel_booking_env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3
media

# Backup files
*.bak
*.swp

# Environment variables
.env
